
  <style> @import url('https://fonts.googleapis.com/css?family=Alexandria:400,700|Poppins:400,700&display=swap'); </style>
  <style> .gps-509862180364550970 .gp-invisible{visibility:hidden}.gps-509862180364550970 .gp-absolute{position:absolute}.gps-509862180364550970 .gp-relative{position:relative}.gps-509862180364550970 .gp-z-1{z-index:1}.gps-509862180364550970 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509862180364550970 .gp-mb-0{margin-bottom:0}.gps-509862180364550970 .gp-flex{display:flex}.gps-509862180364550970 .gp-inline-flex{display:inline-flex}.gps-509862180364550970 .gp-grid{display:grid}.gps-509862180364550970 .\!gp-hidden{display:none!important}.gps-509862180364550970 .gp-hidden{display:none}.gps-509862180364550970 .gp-h-5{height:20px}.gps-509862180364550970 .gp-h-full{height:100%}.gps-509862180364550970 .gp-w-5{width:20px}.gps-509862180364550970 .gp-max-w-full{max-width:100%}.gps-509862180364550970 .gp-flex-col{flex-direction:column}.gps-509862180364550970 .gp-items-center{align-items:center}.gps-509862180364550970 .gp-justify-center{justify-content:center}.gps-509862180364550970 .gp-gap-y-0{row-gap:0}.gps-509862180364550970 .gp-overflow-hidden{overflow:hidden}.gps-509862180364550970 .gp-break-words{overflow-wrap:break-word}.gps-509862180364550970 .gp-rounded-none{border-radius:0}.gps-509862180364550970 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-509862180364550970 .gp-no-underline{text-decoration-line:none}.gps-509862180364550970 .gp-opacity-25{opacity:.25}.gps-509862180364550970 .gp-opacity-75{opacity:.75}.gps-509862180364550970 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509862180364550970 .gp-duration-200{transition-duration:.2s}.gps-509862180364550970 .gp-duration-300{transition-duration:.3s}.gps-509862180364550970 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509862180364550970 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-509862180364550970 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-509862180364550970 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509862180364550970 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509862180364550970 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509862180364550970 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509862180364550970 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509862180364550970 .tablet\:\!gp-hidden{display:none!important}.gps-509862180364550970 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509862180364550970 .mobile\:\!gp-hidden{display:none!important}.gps-509862180364550970 .mobile\:gp-hidden{display:none}}.gps-509862180364550970 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509862180364550970 .\[\&_p\]\:gp-inline p{display:inline}.gps-509862180364550970 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509862180364550970 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509862180364550970 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g63LZ4kBl_"
        style="--pt:50px;--pb:350px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "506418165727626346-011e26e9-9714-4427-8dbe-aa111075935c.jpg" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g63LZ4kBl_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTJiom62Xt gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3CT2UqKna"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3CT2UqKna gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJ2gAns8k0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnt9GO_cIn "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Alexandria, 'Alexandria');--weight:400;--lh:130%;--size:50px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><span style="color:#FFFFFF;">iPhone 15 Pro</span></h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gmBwjnLWDi "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:19px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#FFFFFF;font-size:22px;">Titanium. So strong. So light. So Pro.</span></p></div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gSBPVBVvcp"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:10px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSBPVBVvcp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gWhAI0n3Wu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object];--ta:right"
    class=""
  >
    <style>
    .gyvKuVei_K.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gyvKuVei_K:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gyvKuVei_K" aria-label="Learn More"
      data-state="idle"
      class="gyvKuVei_K gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3"
      style="--bg:#5E81FF;--hvr-bg:var(--g-c-highlight, highlight);--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Learn More
      </span>
    </button>
  </div>
  </gp-button>

    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRd6OS1ywl gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gLREYzG9n8.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #5E81FF;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gLREYzG9n8:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gLREYzG9n8" aria-label="Buy"
      data-state="idle"
      class="gLREYzG9n8 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#FFFFFF;--hvr-bg:#5E81FF;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:#5E81FF;--hvr-c:#ffffff;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Buy
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-509862180364550970 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mart-for-buy/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509862080220758842&sectionId=509862180364550970)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
